<include href="views/header.html"></include>

<title>New User</title>
</head>
<body>
<!--Nav Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<!--Main content -->
<div class="container">
    <div class="row">
        <div class="col">
            <form id="newUser-form">
                <h3>Add New User</h3>
                <div class="m-3">
                    <label for="username">Username:
                    </label>
                    <input type="text" id="username">
                    <span class="err" id="err-username">Please enter user name</span>
                </div>
                <div class="m-3">
                    <label for="password">Password:
                    </label>
                    <input type="text" id="password">
                    <span class="err" id="err-password">Please enter password</span>
                </div>
                <button class="btn btn-primary m-3" type="submit">Add User</button>
            </form>
        </div>
    </div>
</div>
<footer class="mt-auto">
</footer>

<include href="views/footer.html"></include>