.container{
    background-color: darkgray;
}

.btn{
    transition: background-color 2s;
}

.btn:hover{
    background-color: darkmagenta;
}

.card-link{
    color: deeppink;
}

i{
    transition: color 1s;
}

i:hover{
color: crimson;
}

.movieImg , .netImg{
    width: 400px;
}

.err {
    color: red;
}