.container{
    background-color: lavenderblush;
}

.btn{
    transition: background-color 2s;
}

.btn:hover{
    background-color: crimson;
}

.card-link{
    color: deeppink;
}

i:hover{
color: crimson;
}